<!DOCTYPE html>
<html>
<head>
    <title>Movie Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        .thumbnail>img{
            height: 400px;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Results Page</h1>
                <p>The movies matching your search</p> 
                <p>
                    <a class="btn btn-primary btn-lg" href="/">Search Again!</a> 
                </p>
            </div>
        </header>
        <div class="row text-center " style="display: flex; flex-wrap: wrap;"></div>
        <%if(data) {
            for(var i=0; i<data.length; i++){ 
                if(data[i].title){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <% if(data[i].image.url){ %>
                        <img src="<%= data[i].image.url %>" height="300px"><h1></h1>
                    <% } %>  
                </div>
                <div class="caption" >
                    <strong><%= data[i].title %></strong> - <%= data[i].year %>
                </div>
                <br>
            </div>
                <% }
            }
        }%>
    </div>
</div>
    </body>
</html> 
